<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">ContactsManager</li>
      </ul>
    </div>
    <div class="top-bar-right">
      dfjhafjasd
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="large-6 columns">
    <button (click)="changeState('add')" class="button">Add Company</button>
  </div>
  <div class="large-6 columns">
    <label>Filter Category
      <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option value="0">Select</option>
        <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
      </select>
    </label>
  </div>
</div>

<!-- form for adding new company -->
<div *ngIf="appState == 'add'">
  <div class="row">
    <div class="large-12 columns">
      <h3>Add company</h3>
      <form (submit)="addCompany(company.value,
        category.value,
        years_active.value,
        description.value,
        phone.value,
        email.value,
        street_address.value,
        city.value,
        zipcode.value)">
        <div class="row">
          <div class="6-large columns">
            <label>Company
              <input type="text" placeholder="Company name" #company>
            </label>
          </div>
          <div class="6-large columns">
            <label>Category
              <select #category>
                <option value="0">Select</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="medium-2 columns">
            <label>Years active
              <input type="text" placeholder="Years active" #years_active>
            </label>
          </div>
          <div class="medium-6 columns">
            <label>Description
              <textarea #description></textarea>
            </label>
          </div>
          <div class="medium-4 columns"></div>
        </div>

        <div class="row">
          <div class="medium-2 columns">
            <label>Phone:
              <input type="text" placeholder="phone number" #phone>
            </label>
          </div>
          <div class="medium-4 columns">
            <label>Email:
              <input type="text" placeholder="email" #email>
            </label>
          </div>
          <div class="medium-6 columns"></div>
        </div>

        <div class="row">
          <div class="medium-3 columns">
            <label>Address:
              <input type="text" placeholder="address" #street_address>
            </label>
          </div>
          <div class="medium-2 columns">
            <label>City:
              <input type="text" placeholder="city" #city>
            </label>
          </div>
          <div class="medium-1 columns">
            <label>Zipcode:
              <input type="text" placeholder="zipcode" #zipcode>
            </label>
          </div>
          <div class="medium-6 columns"></div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <input type="submit" class="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- form for editing existing company-->
<div *ngIf="appState == 'edit'">
  <div class="row">
    <div class="large-12 columns">
      <h3>Edit company</h3>
      <form (submit)="updateCompany()">
        <div class="row">
          <div class="6-large columns">
            <label>Company
              <input type="text" [(ngModel)]="activeCompany" name="activeCompany" placeholder="Company name" #company>
            </label>
          </div>
          <div class="6-large columns">
            <label>Category
              <select  [(ngModel)]="activeCategory" name="activeCategory" #category>
                <option value="0">Select</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="medium-2 columns">
            <label>Years active
              <input type="text" [(ngModel)]="activeYearsActive" name="activeyearsActive" placeholder="Years active" #years_active>
            </label>
          </div>
          <div class="medium-6 columns">
            <label>Description
              <textarea [(ngModel)]="activeDescription" name="activeDescription" #description></textarea>
            </label>
          </div>
          <div class="medium-4 columns"></div>
        </div>

        <div class="row">
          <div class="medium-2 columns">
            <label>Phone:
              <input type="text" [(ngModel)]="activePhone" name="activePhone" placeholder="phone number" #phone>
            </label>
          </div>
          <div class="medium-4 columns">
            <label>Email:
              <input type="text" [(ngModel)]="activeMail" name="activeMail" placeholder="email" #email>
            </label>
          </div>
          <div class="medium-6 columns"></div>
        </div>

        <div class="row">
          <div class="medium-3 columns">
            <label>Address:
              <input type="text" [(ngModel)]="activeStreetAddress" name="activeStreetAddress" placeholder="address" #street_address>
            </label>
          </div>
          <div class="medium-2 columns">
            <label>City:
              <input type="text" [(ngModel)]="activeCity" name="activeCity" placeholder="city" #city>
            </label>
          </div>
          <div class="medium-1 columns">
            <label>Zipcode:
              <input type="text" [(ngModel)]="activeZipcode" name="activeZipcode" placeholder="zipcode" #zipcode>
            </label>
          </div>
          <div class="medium-6 columns"></div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <input type="submit" class="button">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div *ngIf="appState == 'extend'">
  <div class="row">
    <div class="large-12 columns">
      <button class="button alert" (click)="changeState('default')">Go back</button>
    </div>
  </div>

  <div *ngFor="let company of companies">
    <div *ngIf="company.$key == activeKey">
      <div class="row">
        <div class="large-5 columns large-offset-1">
          <h3>{{company.company}}</h3>
          <p>Category: {{company.category}}</p>
          <p>Years In Business: {{company.years_active}}</p>
          <p>{{company.description}}</p>
        </div>
        <div class="large-5 columns large-offset-1">
          <h4>Contact info</h4>
          <ul>
            <li>email: {{company.email}}</li>
            <li>phone: {{company.phone}}</li>
            <li>address {{company.street_address}}</li>
            <li>years active: {{company.years_active}}</li>
            <li>zipcode: {{company.zipcode}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div *ngIf="companies">
      <table>
        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{company.company}}</td>
            <td>{{company.category}}</td>
            <td>{{company.phone}}</td>
            <td>
              <button (click)="changeState('extend', company.$key)" class="button">More</button>
              <button (click)="showEdit(company)" class="button secondary">Edit</button>
              <button (click)="deleteCompany(company.$key)" class="button alert">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
